*.pyc
# don't include Flask and dependencies
server/lib/*
# include README so user doesn't have to create this dir
!server/lib/README.txt
.DS_Store

# GAE
.playground

# IntelliJ/PyCharm
.idea

# VirtualEnv/Fish
.venv

# Configuration files that contain secret keys
# Comment this out only for Google App Engine
# config/*
