body {
    margin-top: 50px;
    margin-bottom: 50px;
}

html {
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    font-family: 'Montez', cursive;
    font-size: 28px;
    color: #2387D6;
}

.sub-nav {
    padding-bottom: 25px;
}

.content {
    /*padding-top: 50px;*/
}

.jumbotron-home {
    margin-top: 40px;
}

.btn-padding {
    margin-top: 15px;
}

/* Custom Gallery Styles */
.blueimp-gallery .modal-body {
    padding: 0 0 100%;
}

.blueimp-gallery > .description {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;
}

.blueimp-gallery-controls > .description {
    display: block;
}

.more-info {
    /*display: none;*/
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding: 7px;
    font-weight: bold;
    font-size: 8pt;
    color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    opacity: 0.70;
}

.iPhoneCheckContainer {
    width: 97px;
}

.iPhoneCheckHandle {
    width: 47px;
}
