body {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

html {
}

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.navbar-default .navbar-brand {
    font-family: 'Montez', cursive;
    font-size: 28px;
    color: #2387D6;
}

.sub-nav {
    padding-bottom: 25px;
}

.content {
    /*padding-top: 50px;*/
}

.jumbotron-home {
    margin-top: 40px;
}

.btn-padding {
    margin-top: 15px;
}

.online {
    font-weight: bold;
    color: green;
}

#messages-container {
    overflow: auto;
    margin-bottom: 20px;
    border: 1px solid #999;
}

#messages-list #subscribers-list {
    display: none;
}

/* Custom Gallery Styles */
.blueimp-gallery .modal-body {
    padding: 0 0 100%;
}

.blueimp-gallery > .description {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #fff;
    display: none;
}

.blueimp-gallery-controls > .description {
    display: block;
}

.more-info {
    /*display: none;*/
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding: 7px;
    font-weight: bold;
    font-size: 8pt;
    color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    opacity: 0.70;
}

.iPhoneCheckContainer {
    width: 97px;
}

.iPhoneCheckHandle {
    width: 47px;
}

.active-list-panel {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #999;
    background-color: #FDFFA5;
}

.active-list-panel h3 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: 0px 0px 12px 0px;
}

.active-list-panel .list-name .glyphicon {
    font-size: large;
}

.active-list-items {
    list-style: none;
    font-size: large;
}

.active-list-items .dragged-item {
    border: 1px dashed black;
}

.glyphicon-minus {
    font-size: small;
}

.active-list-items .preview-item {
    color: #aaa;
}

.active-list-items .new-item {
    margin-top: 10px;
}
