{% extends 'layout.html' %}

{% block body %}
    <div class="page-header">
        <h2>Group Calendar
            <small>Stay current</small>
        </h2>
    </div>
    <div class="container">
        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=thelyfamily.com_kqhepgt2mtrglrs3s74mmtlh64%40group.calendar.google.com&amp;color=%238C500B&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock body %}
