{% extends 'layout.html' %}

{% block body %}
    <div class="page-header">
        <h2>Group Chat
            <small>Public speaking</small>
        </h2>
    </div>

    <div class="container" ng-app="chatMessagesApp">
        <div class="row clearfix">
            <div class="col-md-7 column" ng-controller="ChatMessagesController">
                <div id="messages-container">
                    <ul id="messages-list" class="list-group">
                        <li class="list-group-item" ng-repeat="message in messages" my-post-repeat-directive>
                            {% raw %}
                            <span>{{ message.sender }}</span> {{ message.body }}
                            {% endraw %}
                        </li>
                    </ul>
                </div>
                <form ng-submit="sendMessage()" role="form">
                    <div class="col-md-10 column">
                        <input type="text" class="form-control" name="message" ng-model="message"/>
                    </div>
                    <div class="col-md-2 column">
                        <button type="submit" class="form-control btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 column">
                <div class="panel panel-default" ng-controller="ChatInviteController">
                    <div class="panel-heading">Send yourself (or someone else) a chat invite</div>
                    <div class="panel-body">
                        <form ng-submit="sendInvite()" role="form">
                            <input type="text" class="" name="to" ng-model="toAddress"/>
                            <button type="submit" class="pull-right btn btn-warning">Send</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default" ng-controller="ChatStatusController">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        Who's Online
                    </div>
                    <div class="panel-body">
                        <ul id="subscribers-list" class="list-group">
                            <li class="list-group-item" ng-repeat="subscriber in subscribers">
                                {% raw %}
                                <span ng-class="subscriber.status">{{ subscriber.name }}</span>
                                {% endraw %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.js"></script>
    <script>
        var chatMessagesApp = angular.module('chatMessagesApp', ['ngAnimate'])
                .directive('myPostRepeatDirective', function() {
                    return function(scope, element, attrs) {
                        // Scroll to the last chat message
                        if (scope.$last) {
                            $("#messages-container").scrollTop(element.parent().children(':last')[0].offsetTop);
                        }
                    };
                });

        var getMessages = function($scope, $http) {
            $http.get('/chat/messages').success(function(data) {
                $scope.messages = data.messages;
                var windowHeight = $(window).innerHeight();
                var pageHeaderHeight = $('.page-header').height();
                var navbarHeight = $('.navbar').height();
                var formHeight = 68; // this is what i measured, but actual form had 0 height
                $('#messages-container').css('height', windowHeight-pageHeaderHeight-pageHeaderHeight-navbarHeight-formHeight-50);
                $('#messages-list').fadeIn();
            });
        };

        chatMessagesApp.controller('ChatMessagesController', function($scope, $http) {
            getMessages($scope, $http);
            $scope.sendMessage = function() {
                $http.post('/chat/send', {'message': $scope.message}).success(function(data) {
                    getMessages($scope, $http);
                });
            }
        });

        chatMessagesApp.controller('ChatInviteController', function($scope, $http) {
            $scope.toAddress = "{{ g.member.profile.primary_email or '' }}";
            $scope.sendInvite = function() {
                $http.get('/chat/invite?to=' + $scope.toAddress)
            }
        });

        chatMessagesApp.controller('ChatStatusController', function($scope, $http) {
            // TODO: call this every 'n' seconds
            $http.get('/chat/subscribers').success(function(data) {
                $scope.subscribers = data.subscribers;
                $('#subscribers-list').fadeIn();
            });
        });
    </script>
{% endblock javascript %}
