{% extends 'layout.html' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ng-sortable/ng-sortable.min.css') }}">
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>Lists
            <small>enumerate stuff</small>
        </h2>
    </div>
    <article ng-app="ListsApp" ng-controller="ListCtrl">
        {% raw %}
        <section>
            <p class="small"><strong>Tip:</strong> Hold Ctrl and click to delete items</p>
            <div class="col-sm-3 list-group">
                <a class="list-group-item" ng-repeat="list in lists" ng-click="setActiveList(list.id)">
                    {{ list.name }}
                    <span class="badge">{{ list.items.length || 0 }}</span>
                </a>
                <a class="list-group-item" ng-click="createNewList()">
                    <span class="glyphicon glyphicon-plus"></span> Create New
                </a>
            </div>
            <div class="col-sm-7 active-list-panel">
                <div ng-hide="activeListId">Select a list or create a new one</div>
                <div ng-show="activeListId">
                    <h3 class="list-name">
                        <span contenteditable="true" ng-model="activeList().name">{{ activeList().name }}</span>
                        <span class="glyphicon glyphicon-remove pull-right" ng-click="deleteActiveList()"></span>
                    </h3>
                    <ol class="active-list-items" as-sortable="sortableOptions" ng-model="activeList().items">
                        <li class="existing-item" ng-repeat="item in activeList().items" as-sortable-item>
                            <div as-sortable-item-handle class="as-sortable-item-handle" ng-click="ctrlClickDeleteItem($event)">
                                <span class="glyphicon glyphicon-minus"></span> {{ item }}
                            </div>
                        </li>
                        <li class="preview-item" ng-show="newItem"><span class="glyphicon glyphicon-minus"></span> {{ newItem }}</li>
                        <input class="new-item form-control" type="text" placeholder="add something..." ng-model="newItem" ng-keyup="addItemOnEnter($event)" focus-on="newListSelected"/>
                    </ol>
                </div>
            </div>
        </section>
        {% endraw %}
    </article>
{% endblock body %}

{% block javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='js/ng-sortable/ng-sortable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lists.js') }}"></script>
{% endblock %}