{% extends 'layout.html' %}

{% block body %}
    <div class="page-header">
        <h2>Message Board
            <small>Say something</small>
        </h2>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-7 column" id="messages">
                {% for message in messages %}
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        {% if message.owner.profile.photo_url %}
                            {% set image_source = '%s=s60' % message.owner.profile.photo_url %}
                        {% else %}
                            {% set image_source = '/static/images/male_bust.jpg' %}
                        {% endif %}
                        <img src="{{ image_source }}" title="{{ message.owner.first_name }}"
                             class="img-circle center-block" height="60" width="60">
                    </div>
                    <div class="message-body col-md-10 column">
                        <div><strong>{{ message.owner.first_name or message.owner.profile.primary_email or 'Someone' }} said this <em>{{ message.humanized_posted_date }}</em>:</strong></div>
                        <div>{{ message.body_formatted|safe }}</div>
                        <div class="pull-right invisible">
                            <form method="post" action="/message/delete/{{ message.key.id() }}">
                                <a class="edit btn btn-link" data-message="{{ message.body }}" data-id="{{ message.key.id() }}">Edit</a>
                                <input type="hidden" name="_method" value="delete" />
                                <button type="submit" class="btn btn-link">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                {% endfor %}
            </div>
            <div class="col-md-5 column">
                <div class="alert alert-info">
                    <input type="checkbox" id="notify_message_posted" name="notify_message_posted"{% if notify_message_posted %} checked{% endif %}/>
                    <label for="notify_message_posted">&nbsp;Email me when someone posts a message</label>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        Post or edit a message
                    </div>
                    <div class="panel-body">
                        <form id="message-form" class="form-horizontal" method="post" action="/message/new" role="form">
                            {{ form.hidden_tag() }}
                            <textarea class="form-control" name="body" rows="4"></textarea>
                            <span>You can format your text with <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank">Markdown</a></span>
                            <button type="submit" class="btn btn-primary btn-padding pull-right">Submit</button>
                            <button class="cancel btn btn-default btn-padding pull-right">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}


{% block javascript %}
<script>
    $(function() {

        // show/hide Delete link on messages
        $("#messages").children().hover(
            function() {
                $(this).children().eq(1).children().eq(2).removeClass("invisible");
            },
            function() {
                $(this).children().eq(1).children().eq(2).addClass("invisible");
            }
        );

        // when user clicks to subscribe to notifications
        $("#notify_message_posted").change(function() {
            var self = this;
            $.ajax({
                type: "POST",
                url: "/profile/notifications/update",
                data: $(this).is(':checked') ? $(this).attr('name') : '',
                success: function() {
                    var $success_text = $("<span style='display: none; color: green; margin-left: 5px'>Updated!</span>");
                    $success_text.appendTo($(self).parent()).show().fadeOut(3000);
                }
            });
        });

        // when user clicks Edit for one of the messages
        $(".edit.btn").click(function() {
            // clear and highlight selected message so that it's clear which is being edited
            $("div#messages .message-body").css("background-color", "");
            $(this).parent().parent().parent().css("background-color", "#CCF8CC");

            $(".cancel.btn").show();

            var message = $(this).data("message");
            var form = $("#message-form");
            form.find("textarea").val(message);
            form.attr("action", "/message/edit/" + $(this).data("id"));
            form.find("textarea").css("background-color", "#DCF8DC");
        });

        // after user clicks on Edit and then hits Cancel on the form
        $(".cancel.btn").click(function (event) {
            event.preventDefault();
            $(".cancel.btn").hide();
            $("div#messages .message-body").css("background-color", "");

            var form = $("#message-form");
            form.find("textarea").val("");
            form.attr("action", "/message/new");
            form.find("textarea").css("background-color", "");
        });
    });
</script>
{% endblock javascript %}
