{% extends 'layout.html' %}

{% block body %}
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
{#    This was the one for the lightbox #}
{#    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">#}
{#        <div class="slides"></div>#}
{#        <h3 class="title"></h3>#}
{#        <a class="prev">‹</a>#}
{#        <a class="next">›</a>#}
{#        <a class="close">×</a>#}
{#        <a class="play-pause"></a>#}
{#        <ol class="indicator"></ol>#}
{#    </div>#}

    <div class="page-header">
        <h1>Photo feed
            <small>For when you're hungry for photos</small>
        </h1>
    </div>

    {% if photos %}
        <a href="javascript:void(0)" class="btn" id="full-screen-link">Full Screen Mode</a>
        <div class="col-md-12 column">
            <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <div id="links" style="display: none">
                {% for photo in photos %}
                    <a href="{{ photo.source }}" data-description="This is a banana.">
                        <img src="{{ photo.thumbnail }}" alt="{{ photo.full_name }}">
                    </a>
{#                    <div style="position: relative; display: inline-block;">#}
{#                        <a href="{{ photo.source }}"#}
{#                           title="{{ photo.full_name }}" data-description="This is a banana.">#}
{#                            <img src="{{ photo.thumbnail }}" alt="{{ photo.full_name }}">#}
{#                        </a>#}
{##}
{#                        <div class="more-info">#}
                            {#                                <a href="{{ photo.link }}" target="_blank">#}
{#                            <div style="float:left">☰ {{ photo.comments_count }}</div>#}
                            {#                                </a>#}
{#                            <div style="float:right">♡</div>#}
{#                            <div style="float:right">#}
                                {#                                    <a href="{{ photo.link }}" target="_blank"></a>#}
{#                                {{ photo.likes_count }}#}
{#                                &nbsp;#}
{#                            </div>#}
{#                            <div style="clear:both"></div>#}
{#                        </div>#}
{#                    </div>#}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock body %}


{% block javascript %}
    <script src="static/js/blueimp-gallery.min.js"></script>
    <script>
        $(function () {

            // initialize blueImp gallery
{#            $("#links").click(function () {#}
{#                event = event || window.event;#}
{#                var target = event.target || event.srcElement,#}
{#                        link = target.src ? target.parentNode : target,#}
{#                        options = {index: link, event: event},#}
{#                        links = this.getElementsByTagName('a');#}
{#                blueimp.Gallery(links, options);#}
{#            });#}

            var gallery = blueimp.Gallery(
                    document.getElementById('links').getElementsByTagName('a'),
                    {
                        container: '#blueimp-gallery-carousel',
                        carousel: true,
                        stretchImages: true
                    }
            );

            $("#blueimp-gallery-carousel").hover(function () {
                $(this).toggleClass("blueimp-gallery-controls");
            })
            $("#full-screen-link").click(function() {
                gallery.requestFullScreen($("#blueimp-gallery-carousel").parent()[0]);
            });
        });
    </script>
{% endblock javascript %}
