{% macro form_field(field) -%}
    {% set label = kwargs.pop('label', '') %}
    {% if not label %}
        {% set label = field.label.text|safe %}
    {% endif %}

    {% set placeholder = kwargs.pop('placeholder', '') %}
    {% if not placeholder %}
        {% set placeholder = label %}
    {% endif %}

    <div class="form-group {% if field.errors %}error{% endif %}">
        <label for="{{ field.id }}">
            {{ label }}{% if field.flags.required %} *{% endif %}:
        </label>
        {% set class_ = kwargs.pop('class_', '') %}
        {% set class_ = class_ + ' form-control' %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}
        {% if field.type == 'BooleanField' %}
            <label class="checkbox">
                {{ field(class_=class_, **kwargs) }}
                {{ label }}
            </label>
        {% else %}
            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                {% set class_ = class_ + ' input-xlarge' %}
            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file' %}
            {% endif %}
            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
        {% endif %}
        {% if field.errors %}
            <span class="error help-inline">{{ field.errors|join(', ') }}</span>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
{%- endmacro %}
