<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Ly Family</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

    <!-- Main Custom CSS for this site -->
    <link rel="stylesheet" href="static/css/main.css">

    <!-- Font for the navbar -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400" type="text/css">
</head>


<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="navbar navbar-fixed-top navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">The Ly Family</span>
                    </div>
                    <div class="collapse navbar-collapse" style>
                        <ul class="nav navbar-nav">
                            <li{% if request.endpoint == 'home' %} class="active"{% endif %}>
                                <a href="{{ url_for('home') }}">Home</a>
                            </li>
                            <li{% if request.endpoint == 'messages' %} class="active"{% endif %}>
                                <a href="{{ url_for('messages') }}">Messages</a>
                            </li>
                            <li{% if request.endpoint == 'members' %} class="active"{% endif %}>
                                <a href="{{ url_for('members') }}">Member Info</a>
                            </li>
                            <li{% if request.endpoint == 'photos' %} class="active"{% endif %}>
                                <a href="{{ url_for('photos') }}">Photos</a>
                            </li>
                            <li{% if request.endpoint == 'wishlists' %} class="active"{% endif %}>
                                <a href="{{ url_for('wishlists') }}">Wish Lists</a>
                            </li>

                            {% if g.user %}
                                <li class="dropdown pull-right">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span
                                            class="text-primary">{{ g.user.nickname() }}</span>
                                        <strong
                                                class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li{% if request.endpoint == 'myprofile' %} class="active"{% endif %}>
                                            <a href="{{ url_for('myprofile') }}">My Profile</a>
                                        </li>
                                        <li class="divider">
                                        </li>
                                        <li>
                                            <a href="{{ g.login_or_logout_url }}">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ g.login_or_logout_url }}"><span class="text-primary"><strong>Log in with
                                        Google!</strong></span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}"><span
                                    class="glyphicon glyphicon-ok"></span> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>
<script src="static/js/blueimp-gallery.min.js"></script>

<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>


</body>

</html>
