{% extends 'layout.html' %}

{% block body %}
    <div class="page-header">
        <h2>Family Members
            <small>Arms and legs</small>
        </h2>
    </div>

    <table class="table table-striped table-hover" id="members-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth Date</th>
                <th>Age</th>
                <th>Primary Email</th>
                <th>Secondary Email</th>
                <th>Address</th>
                <th>Mobile Phone</th>
                <th>Home Phone</th>
                <th>Work Phone</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            {% if member.is_visible %}
            <tr>
                <td>{{ member.first_name }} {{ member.last_name }}</td>
                <td>{{ member.profile.birth_date.strftime('%m/%d/%Y') if member.profile.birth_date else '' }}</td>
                <td>{{ member.age }}</td>
                <td>{{ member.profile.primary_email }}</td>
                <td>{{ member.profile.secondary_email }}</td>
                <td>{{ member.profile.address }}<br>
                    {{ member.profile.city }}, {{ member.profile.state }} {{ member.profile.zip }}<br>
                </td>
                <td>{{ member.profile.mobile_phone }}</td>
                <td>{{ member.profile.home_phone }}</td>
                <td>{{ member.profile.work_phone }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/css/tablesorter/theme.default.css">
{% endblock stylesheet %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/tablesorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/js/tablesorter/jquery.tablesorter.widgets.min.js"></script>
    <script>
        $(function() {
            $("#members-table").tablesorter({
                sortList: [[2,1], [1,0]]
            });
        });
    </script>
{% endblock javascript %}
