{% extends 'layout.html' %}

{% block body %}
    <div class="page-header">
        <h2>Family Members
            <small>Useful info</small>
        </h2>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <th>Name</th>
        <th>Primary Email</th>
        <th>Secondary Email</th>
        <th>Address</th>
        <th>Mobile Phone</th>
        <th>Home Phone</th>
        <th>Work Phone</th>
        <th>Birthday</th>
        </thead>
        <tbody>
        {% for member in members %}
            {% if member.is_visible %}
            <tr>
                <td>{{ member.first_name }} {{ member.last_name }}</td>
                <td>{{ member.profile.primary_email }}</td>
                <td>{{ member.profile.secondary_email }}</td>
                <td>{{ member.profile.address }}<br>
                    {{ member.profile.city }}, {{ member.profile.state }} {{ member.profile.zip }}<br>
                </td>
                <td>{{ member.profile.mobile_phone }}</td>
                <td>{{ member.profile.home_phone }}</td>
                <td>{{ member.profile.work_phone }}</td>
                <td>{{ member.profile.birthday.strftime('%m/%d/%Y') if member.profile.birthday else '' }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
