{% extends 'layout.html' %}

{% block body %}
    <div class="page-header">
        <h1>My Profile
            <small>i.e. The side of your face</small>
        </h1>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-3 column">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        Click to change profile picture
                    </div>
                    <div class="panel-body">
                        <a href="#" data-toggle="modal" data-target="#photo-upload-modal">
                            {% if profile_photo_url %}
                            <img src="{{ profile_photo_url }}" width="100%" class="center-block">
                            {% else %}
                            <img src="/static/images/male_bust.jpg" class="center-block">
                            {% endif %}
                        </a>
                        <!-- Photo Upload Modal -->
                        <div class="modal fade" id="photo-upload-modal" tabindex="-1" role="dialog" aria-labelledby="photo-upload-modal-label"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action="{{ photo_upload_url }}" enctype="multipart/form-data" method="post">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="photo-upload-modal-label">Upload a profile picture</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="alert alert-warning"><strong>Warning!</strong> Clicking the <strong>Upload</strong> button will reload the entire page.
                                            If you have unsaved changes on the main page, press <strong>Cancel</strong> and save your profile before
                                            uploading a photo.</div>
                                            <div class="alert alert-info">We recommend uploading a square (equal width and height) headshot of yourself since this picture will be used in places like the Message Board.</div>
                                            <input class="form-control input-file" id="profile_photo" name="profile_photo" type="file">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Upload</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        Share only what you want
                    </div>
                    <div class="panel-body">
                        Share only the information you want to share. But remember that only Ly Family members who have
                        access to this website can view this information. So I encourage you to fill out <strong><em>all</em></strong> of the information!
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Note: </strong>The First Name field is disabled because currently this is used as your user login id.
                    </div>
                </div>
            </div>
            <div class="col-md-7 column">
                <div class="row sub-nav"> <!-- Sub nav -->
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active"><a href="#basic" data-toggle="tab">Basic Profile</a></li>
                        <li><a href="#change-password" data-toggle="tab">Change Password</a></li>
                        <li><a href="#connect-accounts" data-toggle="tab">Connect Accounts</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="basic">
                        {% from "_formhelpers.html" import form_field %}
                        <form id="update-profile-form" method="post" action="/profile" role="form">
                            {{ form.hidden_tag() }}
                            <input type="hidden" id="{{ form.member_id.short_name }}" name="{{ form.member_id.short_name }}" value="{{ form.member_id.data }}"/>

                            <div class="row clearfix">
                                <div class="col-md-6 column">
                                    {{ form_field(form.first_name, disabled=True) }}
                                </div>
                                <div class="col-md-6 column">
                                    {{ form_field(form.last_name) }}
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    <div class="form-group">
                                        {{ form_field(form.primary_email, type='email') }}
                                    </div>
                                </div>
                                <div class="col-md-4 column">
                                    <div class="form-group">
                                        {{ form_field(form.secondary_email, type='email', placeholder='If you have another email') }}
                                    </div>
                                </div>
                                <div class="col-md-4 column">
                                    <div class="form-group">
                                        {{ form_field(form.birth_date, type='text', class_='datepicker', placeholder='yyyy-mm-dd') }}
                                    </div>
                                </div>
                            </div>

                            {{ form_field(form.address) }}

                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    {{ form_field(form.city) }}
                                </div>
                                <div class="col-md-4 column">
                                    {{ form_field(form.state) }}
                                </div>
                                <div class="col-md-4 column">
                                    {{ form_field(form.zip) }}
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    {{ form_field(form.mobile_phone, placeholder='format: 310-555-1234') }}
                                </div>
                                <div class="col-md-4 column">
                                    {{ form_field(form.home_phone, placeholder='format: 310-555-1234') }}
                                </div>
                                <div class="col-md-4 column">
                                    {{ form_field(form.work_phone, placeholder='format: 310-555-1234') }}
                                </div>
                            </div>

                            <button id="update-profile-button" type="button" class="btn btn-primary btn-padding">Update Profile</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="change-password">
                        <div class="row clearfix">
                            <div class="col-md-6 column">
                                <div id="success-message" class="alert alert-success hidden">
                                    Your password has been updated!
                                </div>
                                <form id="change-password-form" method="post" role="form">
                                    {{ password_form.hidden_tag() }}
                                    {{ form_field(password_form.old_password) }}
                                    {{ form_field(password_form.new_password) }}
                                    {{ form_field(password_form.confirm_password) }}
                                    <button id="change-password-button" type="submit" class="btn btn-primary btn-padding">Change Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="connect-accounts">
                        <table class="table">
                            <tr>
                                <th><label for="facebook_toggle">Facebook</label></th>
                                <td><input type="checkbox" id="facebook_toggle"/></td>
                                <td>Allow displaying your recent<br>photos from Facebook.</td>
                            </tr>
                            <tr>
                                <th><label for="instagram_toggle">Instagram</label></th>
                                <td><input type="checkbox" id="instagram_toggle"/></td>
                                <td>Allow displaying your recent<br>Instagram photos.</td>
                            </tr>
                            <tr>
                                <th><label for="google_toggle">Google</label></th>
                                <td><input type="checkbox" id="google_toggle" disabled="disabled"/></td>
                                <td>Access your Google+ feed. <br>Not yet implemented.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}


{% block stylesheet %}
<link rel="stylesheet" href="/static/css/datepicker.css">
{% endblock stylesheet %}


{% block javascript %}
<script src="static/js/iphone-style-checkboxes.js" type="text/javascript" charset="utf-8"></script>
<script src="static/js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function() {

        // preselect a tab based on url fragment
        var tab_name = window.location.hash.substr(1);
        if (tab_name) {
            $("#tabs a[href='#" + tab_name + "']").tab('show');
        }

        // initialize iphone style checkboxes
        {% if g.member.facebook_user_key %}
            $("#facebook_toggle:checkbox").prop('checked', true);
        {% endif %}
        $("#facebook_toggle:checkbox").iphoneStyle({
            resizeContainer: false,
            resizeHandle: false,
            onChange: function(element, checked) {
                if (checked) {
                    window.location = "{{ config['FACEBOOK_AUTH_URL']|safe }}";
                } else {
                    window.location = "{{ url_for('facebook_disconnect') }}";
                }
            }
        });

        {% if g.member.instagram_user_key %}
            $("#instagram_toggle:checkbox").prop('checked', true);
        {% endif %}
        $("#instagram_toggle:checkbox").iphoneStyle({
            resizeContainer: false,
            resizeHandle: false,
            onChange: function(element, checked) {
                if (checked) {
                    window.location = "{{ config['INSTAGRAM_AUTH_URL'] }}";
                } else {
                    window.location = "{{ url_for('instagram_disconnect') }}";
                }
            }
        });

        {% if g.member.google_user_key %}
            $("#google_toggle:checkbox").prop('checked', true);
        {% endif %}
        $("#google_toggle:checkbox").iphoneStyle({
            resizeContainer: false,
            resizeHandle: false,
            onChange: function(element, checked) {
                alert("This is not ready yet");
            }
        });

        // update profile form: workaround for 'disabled' input (First Name) not being submitted
        $("#update-profile-button").click(function(event) {
            $("#first_name").removeAttr("disabled")
            $("#update-profile-form").submit();
        })

        // submit change password form
        $("#change-password-form").submit(function(event) {
            event.preventDefault();
            if ($("#confirm-password").val() !== $("#new-password").val()) {
                alert("The new passwords much match");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/password/change",
                data: $(this).serialize(),
                success: function() {
                    $(".alert-danger").remove();
                    $("#success-message").removeClass("hidden");
                },
                error: function(response) {
                    $(".alert-danger").remove();
                    $("#success-message").addClass("hidden");
                    if (response.status == 401) {
                        error_html = "<span class='alert-danger'>Invalid password.</span>"
                        $("#old_password").after(error_html);
                    }
                    $.each(response.responseJSON, function(field, field_errors) {
                        $.each(field_errors, function(index, field_error) {
                            error_html = "<span class='alert-danger'>" + field_error + "</span>"
                            $("#" + field).after(error_html);
                        });
                    });
                }
            });
        });

        $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
    });
</script>
{% endblock javascript %}
